.class-three nav{
    display: flex;
    background: rgb(208, 106, 255);
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}

.form-popup{
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background: rgba(0, 0, 0, 0.753);
     display: flex;
     align-items: center;
     justify-content: center;flex-direction: column;
}

.form-popup form{
    background: lightblue;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}
.cancel-div{
    color: white;
    font-size: 3rem;
}

.watch-video{
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background: rgba(0, 0, 0, 0.753);
     display: flex;
     align-items: center;
     justify-content: center;flex-direction: column;
}
