.products-wrapper{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    
    padding: 60px 20px;
   
}

.class-nine{
    display: flex;
    gap: 20px;
}
.class-nine .categories{
    background: lightgray;
    
    width: 250px;
    padding: 60px 20px;
}
.category-item{
    background: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding:10px ;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 10px;

}
.category-item:hover{
    opacity: .8;
}


.searchbar form{
    display: flex;
   
    width: 60%;
    margin: auto;
     margin-top: 30px;
    margin-bottom: 30px;
}

.searchbar button{
    width: 150px;
    height: 60px;
}

.searchbar input{
    flex-grow: 1;
    height: 60px;
}

.main-right{
    display: flex;
    flex-direction: column;
   width: 70% !important;
  
}